/aclocal.m4
/autom4te.cache
/conf??????
/confdefs.h
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/configure
/conftest.err
/libtool
/*.pc
/scan_build

Makefile
Makefile.in

.deps
.dirstamp
*.stamp
stamp-h1

.libs

*.la
*.lo
*.loT
*.o

/simplefs

/mount.simplefs

fs.db
fs.db_journal
